appdirs==1.4.3
click==7.1.2
distlib==0.3.0
dominate==2.5.1
filelock==3.0.12
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
six==1.14.0
virtualenv==20.0.18
visitor==0.1.3
Werkzeug==1.0.1
requests==2.23.0
python-dotenv==0.13.0
google-api-python-client==1.8.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
python-dateutil==2.8.1
jsonpickle=1.4.1
facial-recognition:
    opencv-contrib-python==4.1.0.25(later version creates errors on raspberrypi)
    (includes cv2==4.1.0)
    numpy==1.16.2
    dlib==19.19.0
    face_recognition==1.2.3
    imutils==0.5.3
opencv dependencies: 
libavutil56 
libcairo-gobject2 
libgtk-3-0 
libqtgui4 
libpango-1.0-0 
libqtcore4 
libavcodec58 
libcairo2 
libswscale5 
libtiff5 
libqt4-test 
libatk1.0-0 
libavformat58 
libgdk-pixbuf2.0-0 
libilmbase23 
libjasper1 
libopenexr23 
libpangocairo-1.0-0 
libwebp6


