__pycache__

*.pyc

venv
.vscode

pip.log
flask.log
cloud-db-api/dontsavetorepo.sql
testDB.py
playground.py
admin-app:.flaskenv
admin-app:config.py
cloud-db-api:config.py.
start_mp_web.sh
admin-app:.flaskenv
admin-app:config.py
cloud-db-api:config.py.
start_mp_web.sh
