{% extends 'bootstrap/base.html' %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if session['loggedIn'] %}
            <li><a href="{{ url_for('cars') }}">Browse Cars</a></li>
            <li><a href="{{ url_for('map') }}">Map_TEMP</a></li> 
                    
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session['loggedIn'] %}
            <li><span class="navbar-text">Welcome, {{ session['fName'] }}</span> </li>
            <li><a href="{{ url_for('uploadFaceFiles') }}">Add Face Data</a></li>
            <li><a href="{{ url_for('bookings') }}">Your Bookings</a></li>   
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('registerUser') }}">Register</a></li>
            {% endif %}
            
        </ul>
    </div>
</nav>

{% endblock navbar %}

{% block error_message %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="container">
                    <div class="alert {{ 'alert-success' if 'success' in message.lower() else 'alert-danger' }}">
                        {{ message }}
                    </div> 
                </div>
            {% endfor %} 
        {% endif %}
    {% endwith %}
{% endblock %}
