{% extends 'bootstrap/base.html' %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            {% if session['loggedIn'] %}
            <li><span class="navbar-text">Welcome, {{ session['fName'] }}</span> </li>
            <li><a href="{{ url_for('employees.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('employees.login') }}">Login</a></li>
            {% endif %}
            {% if session['role'] == 'admin' %}
                <li><a href="{{ url_for( 'employees.menu') }}">Main Menu</a></li>
            {% endif %}
            {% if session['role'] == 'manager' %}
            <li><a href="{{ url_for( 'dashboard.dashboard') }}">Dashboard</a></li>
            {% endif %}
            {% if session['role'] == 'engineer' %}
                <li><a href="{{ url_for( 'cars.list_cars_reported_with_issues') }}">Reported Cars</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

{% endblock navbar %}

{% block error_message %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="container">
                    <div class="alert {{ 'alert-success' if 'success' in message.lower() else 'alert-danger' }}">
                        {{ message }}
                    </div> 
                </div>
            {% endfor %} 
        {% endif %}
    {% endwith %}
{% endblock %}
