{% extends "navbar.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel heading text-center">
                <h4>Welcome to the Car Sharing System</h4>
            </div>
            <div class="panel body text-center">
                <div class="btn-group btn-group btn-group-lg">
                    {% if not session['loggedIn'] %}
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'login') }}';">Login</button>
                    <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'registerUser') }}';">Register</button>
                    {% else %}
                    <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for( 'cars') }}';">Cars</button>
                    <button type="button" class="btn btn-info-*" onclick="window.location.href='{{ url_for( 'bookings') }}';">Bookings</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}