
{% extends "base.html" %}

{% block title %}
Login

{% endblock title %}

{% block content %}
{% block error_message %}
{{ super() }}
{% endblock %}
<form class="form-horizontal needs-validation" action="{{ url_for('login_check') }}" method="POST">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <h4><strong>Login</strong></h4>
                
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">Username</label>
                        <input type="text" name="username" class="col-md-2 control-form" placeholder="Username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <input type="password" name="password" class="col-md-2 control-form" placeholder="Password" required>
                    </div>
                </div>
                
            </div>
            <div class="panel-footer">
                <button name="login" type="submit" class="btn btn-primary">Login</button>
            </div>
           
        </div>
        
    </div>
</form>
{{ output }}
{% endblock %}
