
{% extends "base.html" %}

{% block title %}
Car #{{ car["car_id"] }} Location

{% endblock title %}

{% block content %}
<script>

    function initMap() {
      const position = new google.maps.LatLng({{ car['latitude'] }}, {{ car['longitude'] }});
      const map = new google.maps.Map(document.getElementById('google_map'), {
        center: position,
        zoom: 8
      });
      const marker = new google.maps.Marker({
        position: map.getCenter(),
        icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 10
      },
        draggable: true,
        map: map
      });
    }
    
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
  async defer></script>
{% block error_message %}
{{ super() }}
{% endblock %}
<div class="container" style="height:600;">
    
    <div class="panel">
        <div class="panel-header">Car #{{car['car_id']}}</div>
        <a class="btn btn-info" href={{back_to}}>Back</a>
        <div class="panel-body">
            <div id="google_map" style="width:100%;height:400px;"></div>
        </div>
    </div>


    </div>


    {% endblock %}