{% extends "base.html" %}

{% block title %}
Menu
{% endblock title %}

{% block content %}
{% block error_message %}
{{ super() }}
{% endblock %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel heading text-center">
                <h2><strong>Main Menu</strong></h2>
            </div>
            <div class="panel body text-center">
                <div class="btn-group btn-group btn-group-lg">
                    {% if not session['loggedIn'] %}
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('employees.login') }}';">Login</button>
                  
                    {% else %}
                        <h4><strong>CARS</strong></h4>
                        <!--list of cars with search functionality-->
                        <div class="row">
                            <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for('cars.list_cars') }}';">View Cars</button><br>
                            <label >View Cars to search, view rental history, update, remove, or report an issue</label>
                            
                        </div>
                        <br>
                        <!--list of cars with reported issues-->
                        <div class="row">
                            <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for('cars.list_cars_reported_with_issues') }}';">View Cars with Reported Issues</button><br>
                        </div>
                        <br>
                         <!--add car-->
                        <div class="row">
                            <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for('cars.add_car_page') }}';">Add Car</button><br>
                        </div>
                        <br><br>
                        <h4><strong>USERS</strong></h4>
                        <!--list of users with search functionality-->
                        <div class="row">
                            <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for('users.list_users') }}';">View Users</button><br>
                            <label>View Users to search, update or remove</label><br>
                        </div>
                        <br>
                        <div class="row">
                            <button type="button" class="btn btn-info" onclick="window.location.href='{{ url_for('users.add_user_page') }}';">Add User</button><br>
                            <br>
                        </div>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{{ output }}
{% endblock %}



