
{% extends "navbar.html" %}

{% block title %}
Register

{% endblock title %}

{% block content %}
{% block error_message %}
{{ super() }}
{% endblock %}
<form class="form-horizontal" action="{{ url_for('registerUser') }}" method="POST">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <h4><strong>Register for an account</strong></h4>
                
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label for="fname" class="col-md-2 control-label">First name</label>
                        <input type="text" name="fname" class="col-md-2 control-form" placeholder="First Name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="lname" class="col-md-2 control-label">Last name</label>
                        <input type="text" name="lname" class="col-md-2 control-form" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <input type="email" name="email" class="col-md-4 control-form" placeholder="example@example.com">
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">Username</label>
                        <input type="text" name="username" class="col-md-2 control-form" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <input type="password" name="password" class="col-md-2 control-form" placeholder="Password">
                    </div>
                </div>
                
            </div>
            <div class="panel-footer">
                <button name="register" type="submit" class="btn btn-info">Register</button>
            </div>
           
        </div>
        
    </div>
</form>
{{ output }}
{% endblock %}
